body {
 	margin: 0;
 	font-family: 'Montserrat', sans-serif;

 	font-size: 15px;
 	color: #333;
 	line-height: 1.6;
 }

 *,
 *:before,
 *:after {
  
 		box-sizing: border-box;
 }


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/* Container */
.container {
 	width: 100%;
 	max-width: 1200px;
 	margin:0 auto;
 }


/* Header */
.header {
	width: 100%;
	background-color: #292b2c;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	margin-bottom: 30px;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.header__logo {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
}

.header__logo:hover {
	text-decoration: none;
	color: lightgrey;
}

/* Burger */

.menu__btn {
	display: none;
	margin-top: 18px;
	margin-right: 10px;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: none;
	position: absolute;
	width: 26px;
	height: 2px;
	background-color: #fff;
}

.menu__btn > span::before {
	content: '';
	width: 26px;
	top: -8px;
}

.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__btn.active > span {
	transform: rotate(45deg);
}

.menu__btn.active > span::before {
	top: 0;
	transform: rotate(0);
}

.menu__btn.active > span::after {
	top: 0;
	transform: rotate(90deg);
}


/* Nav */
.nav {
	font-size: 24px;
	margin-right: 15%;
}

.nav-mobile {
	margin: -30px 0 30px 0;
	background: #292b2c;
	display: none;
	flex-direction: column;
}

.nav__link {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 10px auto;

	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
}

.nav__link:hover {
	color: lightgrey;
	text-decoration: none;
}

.nav__link:hover:after {
	opacity: 1;
}

.nav__link-mobile {
	color: #fff;
	font-size: 24px;
	margin-left: 18px;
}

.nav__link-mobile:hover {
	color: lightgrey;
	text-decoration: none;
}

/* Reg */
.reg {
	font-size: 24px;
}

@media screen and (max-width: 1150px) {
	.nav {
		display: none;
	}

	.menu__btn {
		display: flex;
		align-items: center;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
	}

}

@media screen and (max-width: 400px) {
	.header__logo {
		font-size: 28px;
	}
}
