/*Скидання стилів*/

*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*Контейнер*/

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

/* Хедер */

.header form {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 10px auto;
}

.header-login {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 10px auto;
    color: #fff;
}

.header-login span {
    color: lightgrey;
}

.header input[type=submit] {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
}

.header input[type=submit]:hover {
    color: lightgrey;
}

/*Стилі головної сторінки*/
.home-title {
    text-align: center;
    margin-bottom: 40px;
}

.news {
    display: flex;
    flex-direction: column;
}

.news-item {
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    width: 70%;
    display: flex;
    margin: 0 auto 30px;
    overflow: hidden;
}

.news-photo {
    overflow: hidden;
    display: flex;
    width: 35%;
    align-items: center;
}

.news-photo img {
    display: block;
    width: 100%;
    height: 100%;
}

.news-content {
    padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-title {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.news-date {
    display: block;
    margin: auto 0;
}

.news-btn {
    display: block;
    padding: 5px;
}

/*Стилі сторінки детальної інформації про новину*/

.content-lg {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0 auto 30px;
    overflow: hidden;
}

.info-title {
    text-align: center;
    margin-bottom: 40px;
}

.back-button {
    padding: 5px;
    margin-left: 75%;
}

.info-news-about {
    display: list-item;
    width: 100%;
}

.info-news-title {
    word-wrap: break-word;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.info-news-date {
    display: block;
    margin: auto 0;
    font-size: 18px;
}

.info-news-content {
    margin-top:15px;
    font-size: 18px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    line-height: 1.4;
    margin-bottom: 15px;
}

.info-photo {
    overflow: hidden;
    display: flex;
    width: 100%;
}

.section-seperator {
    border-bottom: 1px solid #edf0f2;
}

.sm-margin-l-30 {
    margin-left: 30px !important;
}


/* Стилі сторінки змагань */
.events-title {
    text-align: center;
    margin-bottom: 40px;
}

.events {
    display: flex;
    flex-direction: column;
}

.event-item {
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    width: 70%;
    display:list-item;
    margin: 0 auto 30px;
    overflow: hidden;
}

.event-content {
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-title {
    word-wrap: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.event-about {
    display: list-item;
    justify-content: flex-start;
    width: 100%;
    align-items: normal;
}

.event-form {
    justify-content: center;
    width: 50%;
    align-items: normal;
    display: inline-flex;
    margin: 0 auto 30px;
    margin-left: 15%;
}

.event-filter-btn {
    padding: 5px;
    margin-left: 15px;
}

.event-label {
    margin-right:10px;
    font-weight:bold;
}

.event-control {
    margin-right: 15px;
}

.event-btn {
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

/* Стилі форм реєстрації, авторизації */

.form-header {
    margin-bottom: 50px;
}

.form-group {
    margin: 20px;
    width: 40%;
}

.form-btn {
    margin-top: 15px;
    margin-bottom: 30px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

/* Стилі футера */

.footer {
    background: #292b2c;
    color: white;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}

.footer-upper__text {
    font-size: 20px;
    letter-spacing: 1px;
}

.footer-main {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.footer-column-header {
    margin-bottom: 20px;
    color: lightgrey;
}

.footer-first-column {
    max-width: 25%;
}

.footer-second-column .footer-column-content {
    display: flex;
    flex-direction: column;
}

.footer-second-column a {
    color: lightgrey;
    text-decoration: none;
    transition: all 0.1s linear;
}

.footer-second-column a:hover {
    color: white;
    transform: scale(1.1);
}

.footer-lower {
    margin: 0 auto;
    font-size: 20px;
}

.footer-lower a {
    color: lightgrey;
    text-decoration: none;
    transition: all 0.2s linear;
}

.footer-lower a:hover {
    color: white;
    transform: scale(1.2);
}

/* Стилі іконок */

ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoInstagram:hover {
    background-color: #E1306C;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: none /*#D3D3D3*/;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}

/* Стилі для малих екранів */

@media screen and (max-width: 780px) {
    .news-item {
        flex-direction: column;
    }

    .news-photo {
        width: 100%;
    }

    .news-content {
        width: 100%;
    }

    .news-about {
        flex-direction: column;
    }

    .news-date {
        margin-bottom: 20px;
    }

    .news-btn {
        margin-bottom: 20px;
    }

    .form-group {
        margin: 10px;
        width: 90%;
    }

    /* Футер */
    .footer-main {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 15px;
    }

    .footer-first-column {
        max-width: 100%;
    }

    .footer-second-column {
        margin-bottom: 20px;
    }

    .footer-upper {
        flex-direction: column;
        align-items: center;
    }
}
