/*Скидання стилів*/

*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*Контейнер*/

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

/*Стилі головної сторінки*/

.home-title {
    text-align: center;
    margin-bottom: 40px;
}

.news {
    display: flex;
    flex-direction: column;
}

.news-item {
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    width: 70%;
    display: flex;
    margin: 0 auto 30px;
    overflow: hidden;
}

.news-photo {
    overflow: hidden;
    display: flex;
    width: 35%;
    align-items: center;
}

.news-photo img {
    display: block;
    width: 100%;
    height: 100%;
}

.news-content {
    padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-title {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.news-date {
    display: block;
    margin: auto 0;
}

.news-btn {
    display: block;
    padding: 5px;
}

/*Стилі сторінки детальної інформації про новину*/

.content-lg {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0 auto 30px;
    overflow: hidden;
}

.info-title {
    text-align: center;
    margin-bottom: 40px;
}

.back-button {
    padding: 5px;
    margin-left: 75%;
}

.info-news-about {
    display: list-item;
    width: 100%;
}

.info-news-title {
    word-wrap: break-word;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.info-news-date {
    display: block;
    margin: auto 0;
    font-size: 18px;
}

.info-news-content {
    margin-top:15px;
    font-size: 18px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    line-height: 1.4;
    margin-bottom: 15px;
}

.info-photo {
    overflow: hidden;
    display: flex;
    width: 100%;
}

.section-seperator {
    border-bottom: 1px solid #edf0f2;
}

.sm-margin-l-30 {
    margin-left: 30px !important;
}


/* Стилі сторінки змагань */
.events-title {
    text-align: center;
    margin-bottom: 40px;
}

.events {
    display: flex;
    flex-direction: column;
}

.event-item {
    background: rgb(241, 239, 239);
    border: 2px solid grey;
    border-radius: 10px;
    width: 70%;
    display:list-item;
    margin: 0 auto 30px;
    overflow: hidden;
}

.event-content {
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-title {
    word-wrap: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.event-about {
    display: list-item;
    justify-content: flex-start;
    width: 100%;
    align-items: normal;
}

.event-form {
    justify-content: center;
    width: 50%;
    align-items: normal;
    display: inline-flex;
    margin: 0 auto 30px;
    margin-left: 15%;
}

.event-filter-btn {
    padding: 5px;
    margin-left: 15px;
}

.event-label {
    margin-right:10px;
    font-weight:bold;
}

.event-control {
    margin-right: 15px;
}

.event-btn {
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

/* Стилі форм реєстрації, авторизації */

.form-header {
    margin-bottom: 50px;
}

.form-group {
    margin: 20px;
    width: 40%;
}

.form-btn {
    margin-top: 15px;
    margin-bottom: 30px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

/* Стилі для малих екранів */

@media screen and (max-width: 780px) {
    .news-item {
        flex-direction: column;
    }

    .news-photo {
        width: 100%;
    }

    .news-content {
        width: 100%;
    }

    .news-about {
        flex-direction: column;
    }

    .news-date {
        margin-bottom: 20px;
    }

    .news-btn {
        margin-bottom: 20px;
    }

    .form-group {
        margin: 10px;
        width: 90%;
    }
}
