@using CompetitionApp.Models
@model IndexView
@addTagHelper *, CompetitionApp
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстрація</a>
}


<div class="home-content">
    <h1 class="home-title">Новини</h1>
    <li class="news">
        @foreach (News item in Model.News)
        {
            <ul class="news-item">
                <div class="news-photo">
                    @if (item.Image == null)
                    {
                        <img src="~/img/chess.jpg" alt="Новина">
                    }
                    else
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" alt="Новина" />
                    }
                </div>
                <div class="news-content">
                    <p class="news-title">
                        @item.Title
                    </p>
                    <div class="news-about">
                        <a asp-action="NewsInfo" asp-route-id="@item.Id" class="btn btn-dark news-btn text-white">Переглянути</a>
                        <p class="news-date">Опубліковано: @item.PublicationDate</p>
                    </div>
                </div>
            </ul>
        }
    </li>
    <page-link page-model="Model.PageView" page-action="Index"></page-link>
</div>