@model IEnumerable<News>
@{
    ViewData["Title"] = "Home Page";
}


<div class="home-content">
    <h1 class="home-title">Новини</h1>
    <li class="news">
        @foreach (var item in Model)
        {
            <ul class="news-item">
                <div class="news-photo">
                    <img src="~/img/chess.jpg" alt="Новина">
                </div>
                <div class="news-content">
                    <p class="news-title">
                        @item.Title
                    </p>
                    <div class="news-about">
                        <a class="btn btn-dark news-btn text-white">Переглянути</a>
                        <p class="news-date">Опубліковано: @item.PublicationDate</p>
                    </div>
                </div>
            </ul>
        }

    </li>
</div>