@{
    ViewData["Title"] = "Administration Page";
}

<h1 class="admin-header text-center">Сторінка адміністратора</h1>

<div class="admin-list">
    <a asp-controller="News" asp-action="Index" class="admin-link">Новини</a>
    <a asp-controller="Events" asp-action="Index" class="admin-link">Змагання</a>
    <a asp-controller="Categories" asp-action="Index" class="admin-link">Категорії змагань</a>
    <a asp-controller="Users" asp-action="Index" class="admin-link">Користувачі</a>
</div>