
@{
    ViewData["Title"] = "Контакти";
}

<div class="container">
    <h1 class="text-center">Контакти</h1>

    <div class="contacts-container">

        <div class="contacts-item contacts-address">
            <h4 class="contacts-title">Адреса</h4>
            <div class="contacts-address-content">вул. Університетська 1, м. Львів 79000</div>
        </div>

        <div class="contacts-item contacts-email">
            <h4 class="contacts-title">Електронна пошта</h4>
            <div class="contacts-email-content">info@lnu.edu.ua</div>
        </div>

        <div class="contacts-item contacts-comm">
            <h4 class="contacts-title">Комунікація</h4>
            <div class="contacts-comm-phone">Телефон: info@lnu.edu.ua</div>
            <div class="contacts-comm-fax">Факс: info@lnu.edu.ua</div>
        </div>

        <div class="contacts-item">
            <h4 class="contacts-title">Університет</h4>
            <div class="contacts-uni-website">Вебсайт ЛНУ: info@lnu.edu.ua</div>
        </div>

    </div>

    <div class="contacts-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.098099264412!2d24.02031585034978!3d49.84061423889856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add717532cff9%3A0x1ea627f45b408179!2z0JvRjNCy0ZbQstGB0YzQutC40Lkg0L3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIg0ZbQvNC10L3RliDQhtCy0LDQvdCwINCk0YDQsNC90LrQsA!5e0!3m2!1suk!2sua!4v1588958826177!5m2!1suk!2sua"
                frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>